body{
     background-color: rgba(251, 255, 0, 0.966);
	 background-image: url("photos/ab.jpg");
	 background-repeat: no-repeat;
	 background-attachment: fixed;
	 background-position: center;
	 
}
p{
	color: rgba(14,14,14);
	background-color: hsl(0,0%,88%);
}